{{- $fullName := include "p3m.fullname" . -}}
{{- $host := first .Values.ingress.hosts }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "p3m.fullname" . }}-nginx
data:
  default.conf: |-
    upstream p3m {
        server {{ $fullName }}-backend-svc:{{ .Values.backend.service.wsgi.port }};
    }

    server {
        listen {{ .Values.frontend.service.port }} default_server;        
        server_name {{ $host.host }} {{ $fullName }}-frontend-svc localhost;

        error_page   500 502 503 504  /50x.html;

        location = /50x.html {
            root   /usr/share/nginx/html;
        }

        location /api {
            include     uwsgi_params;
            uwsgi_pass  p3m;
        }

        location /admin {
            include     uwsgi_params;
            uwsgi_pass  p3m;
        }

        location {{ .Values.config.static.url | trimSuffix "/"}} {
            alias {{ .Values.config.static.localPath }};
        }

        location / {
            root   /usr/share/nginx/html;
            index  index.html index.htm;
            try_files $uri $uri/ =404;
        }
    }

immutable: false
