{{- $fullName := include "p3m.fullname" . -}}
{{- $host := first .Values.ingress.hosts }}
{{- $memcachedHost := include "common.names.fullname" .Subcharts.memcached -}}
{{- $memcachedPort := .Values.memcached.service.ports.memcached | toString -}}
{{- $memcachedLocation := printf "%s:%s" $memcachedHost $memcachedPort -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullName }}-env
data:
  {{- with .Values.config }}
  DEBUG: {{ .debug | toString | upper | quote }}
  DEFAULT_API_URL: /api
  ALLOWED_HOSTS: {{ printf "%s,%s-frontend,%s-backend,%s" $host.host $fullName $fullName (join "," .allowedHosts) | trimSuffix ","}} 
  STATIC_ROOT: {{ .static.localPath }}
  STATIC_URL: {{ .static.url }}
  CORS_ALLOW_ALL_ORIGINS: {{ .cors.allowAllOrigins | toString | upper | quote }}
  {{- if not .cors.allowAllOrigins }}
  CORS_ORIGIN_WHITELIST: {{ printf "https://%s,http://%s,%s" $host.host $host.host (join "," .corsOriginWhitelist) | trimSuffix "," }}
  {{- end }}
  SECRET_KEY_FILE: /run/secrets/p3m/p3m-secret-key
  DATABASE_URL_FILE: /run/secrets/p3m/p3m-database-url
  CACHE_ENABLED: {{ .cache.enabled | toString | upper | quote }}
  {{- if .cache.enabled }}
  CACHE_LOCATION: {{ default $memcachedLocation .cache.location }}
  {{- if .cache.backend }}
  CACHE_BACKEND: {{ .cache.backend }}
  {{- end }}
  {{- end }}
  LOAD_FIXTURES: "FALSE"
  {{- end }}
