{{- $host := .Values.config.db.host | default "" -}}
{{- if .Values.postgresql.enabled -}}
{{- $host = include "postgresql.v1.primary.fullname" .Subcharts.postgresql -}}
{{- end -}}
{{- $port := ternary 5432 .Values.config.db.port .Values.postgresql.enabled -}}
{{- $db := ternary .Values.postgresql.auth.database .Values.config.db.name .Values.postgresql.enabled -}}
{{- $user := ternary "postgres" .Values.config.db.user .Values.postgresql.enabled -}}
{{- $password := ternary .Values.postgresql.auth.postgresPassword .Values.config.db.password .Values.postgresql.enabled -}}
kind: Secret
apiVersion: v1
metadata:
  name: {{ include "p3m.fullname" . }}-secret
{{/* Force mandatory */}}
{{- $host = required "Nome do host de PostgreSQL obrigatório" $host -}}
{{- $port = required "Número da porta do PostgreSQL obrigatório" $port -}}
{{- $db = required "Nome do banco de dados PostgreSQL obrigatório" $db -}}
{{- $user = required "Nome do usuário PostgreSQL obrigatório" $user -}}
{{- $password = required (printf "Senha para o usuario [%s] obrigatório" $user) $password -}}
stringData:
  p3m-database-url: {{ (printf "postgis://%s:%s@%s:%s/%s" $user $password $host ($port | toString) $db) | quote }}   
  p3m-secret-key: {{ (required "É obrigatório fornecer uma SECRET_KEY para o app P3M" .Values.config.secretKey) | quote }}
type: Opaque
