apiVersion: v1
kind: Service
metadata:
  name: {{ include "p3m.fullname" . }}-backend-svc
  labels:
    {{- include "p3m.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
spec:
  type: {{ .Values.backend.service.type }}
  ports:
    - port: {{ .Values.backend.service.wsgi.port }}
      targetPort: wsgi
      protocol: TCP
      name: wsgi
    - port: {{ .Values.backend.service.stats.port }}
      targetPort: stats
      protocol: TCP
      name: stats
  selector:
    {{- include "p3m.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: backend
